
1.	Write a Python program to find sum of elements in list?
2.	Write a Python program to  Multiply all numbers in the list?
3.	Write a Python program to find smallest number in a list?
4.	Write a Python program to find largest number in a list?
5.	Write a Python program to find second largest number in a list?
6.	Write a Python program to find N largest elements from a list?
7.	Write a Python program to print even numbers in a list?
8.	Write a Python program to print odd numbers in a List?
9.	Write a Python program to Remove empty List from List?
10.	Write a Python program to Cloning or Copying a list?
11.	Write a Python program to Count occurrences of an element in a list?

In [6]:
list1 = []
  
# number of elements as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    x = int(input())
    # adding the element
    
    list1.append(x)  
  
print(f"The List Is {list1}")

s = sum(list1)
print(f"The total sum of elements in list is {s} ")

Enter number of elements : 5
1
2
3
4
5
The List Is [1, 2, 3, 4, 5]
The total sum of elements in list is 15

In [11]:
#
def multiply(mylist):
  result = 1
  for i in mylist:
    result = result * i
  return result

list2 = [1,2,3,4,5,6]
print(f"The result of multiplication of all numbers in list{list2} is ", multiply(list2))

The result of multiplication of all numbers in list[1, 2, 3, 4, 5, 6] is  720

In [12]:
list3 = [23,67,4,23,112,3,89,5,2.0]
list3.sort()
print("Smallest element is : ", list3[0])

Smallest element is :  2.0

In [15]:
def largest(l):
  l.sort(reverse = True)
  print("Largest element is: ",l[0])

L1 = [1,2,3,44,5,56,767,90]
largest(L1)

Largest element is:  767

In [17]:
#second Largest
L2 = [1,2,3,45,7657,68,678,78,234]
L2.sort(reverse = True)
print("Second Largest Number is: ",L2[1])

Second Largest Number is:  678

In [18]:
#function
def Nlargest(li,n):
  li.sort(reverse = True)
  print(f"{n}th Largest element of list is :", li[n-1])

#
l3 = [23,45,56,76,12,534,12]
n = 3 #3rd largest
Nlargest(l3,3)

3th Largest element of list is : 56

In [19]:
l4 = [1,23,4,6,45,7,334,234,6,778,7,2344,578,32]
#even number in list
#list comprehension
even_nos = [num for num in l4 if num % 2 == 0]
print("Even numbers in the list: ",even_nos )

Even numbers in th list:  [4, 6, 334, 234, 6, 778, 2344, 578, 32]

In [21]:
#for odd numbers
odd_nos = [num for num in l4 if num % 2 != 0 ]
print("Odd numbers in the list: ",odd_nos)

Odd numbers in the list:  [1, 23, 45, 7, 7]

In [22]:
L2 = [5,6,[],7,34,232,[],34,[],1]
print("The original list is : " + str(L2))
#
res = [ele for ele in L2 if ele != []]

print("List after empty list removal: "+ str(res))

The original list is : [5, 6, [], 7, 34, 232, [], 34, [], 1]
List after empty list removal: [5, 6, 7, 34, 232, 34, 1]

In [23]:
num = [1,2,3,4,5,5,6,6,7,7,8]
n2 = [1,1,1,1,1,1,1,1]
print(num)
print(n2)

n2 = num.copy()
print("list after copying elements", n2)

[1, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8]
[1, 1, 1, 1, 1, 1, 1, 1]
list after copying elements [1, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8]

In [24]:
#count 
l = [1,1,1,1,22,2,2,2,2,3,4,4345,345]
print("number of occurences of 2 in list is: ", l.count(2))

number of occurences of 2 in list is:  4